:root {
    --wiki-grey: rgb(162, 169, 177);
}
@font-face {
    font-family: 'Jokerman';
    src: url('fonts/Jokerman.otf');
}
body {
    margin: 0;
 }
.random-joke {
	font-family: Jokerman;
	font-size: 1.5rem;
}
.button-container {
     display: flex;
    flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
     overflow: hidden;
 }
.button {
     position: relative;
     height: fit-content;
 }
.button-image {
    flex-basis: 300px;
    max-width: 300px;
    max-height: 70px;
}
.hidden-heading {
    display: none;
}
.toolbar-home {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100px;
    padding: 0.5rem;
    z-index: 999;
}
.toolbar-home img {
    width: 100%;
}
 
.scene-container {
	position: relative;
}
.scene-background {
	top: 0;
	left: 0;
}
.scene-image {
	position: absolute;
}
.scene-image-link {
	position: absolute;
	display: block;
}
.button:hover .button-image, .scene-image-link:hover, .standard-toolbar .button:hover {
	filter: invert(0.4);
}
.thompson-world-form {
	position: relative;
	height: 100%;
}
.standard-toolbar {
    display: flex;
    justify-content: center;
    z-index: 99;
    height: 35px;
    padding: 5px;
    background: rgba(0,0,0,0);
}
.standard-toolbar .button {
    display: block;
    width: 100px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}
.page-banner {
    text-align: center;
}
.button-as-link {
    background: none;
    border: none;
    padding: 0;
    font-size: unset;
    color: #069;
    cursor: pointer;
    text-decoration: none;
}
.button-as-link:hover {
    text-decoration: underline;
}

/* Wiki */
.wiki-page {
    font-family: Arial;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: auto;
    max-width: 750px;
    padding: 1rem;
}
.wiki-page * {
    flex-basis: 100%;
}
.wiki-page h1, .wiki-page h2 {
    font-family: Georgia;
    font-weight: normal;
    margin: 1rem 0 0 0;
    border-bottom: 1px solid var(--wiki-grey);
}
.wiki-page h2 {
    margin-bottom: 0.5rem;
}
.wiki-image-container {
    display: inline-block;
    float: right;
    width: calc(350px - 2rem);
    background: white;
    padding: 1rem 0 1rem 1rem;
}
.wiki-image {
    width: calc(100% - 2rem);
    padding: 1rem;
    background: #f8f9fa;
    border: 1px solid var(--wiki-grey);
}
.wiki-image-caption {
    text-align: center;
}
.lisboa-big-container {
	display: flex;
	gap: 5px;
	height: fit-content;
	padding: 5px;
	border: 2px solid black;
	max-width: min(80vw, 500px);
}
.lisboa-status {
	border-radius: 50%;
	border: 2px solid black;
	padding: 5px;
}
.footer {
    flex-basis: 70%;
    font-family: Arial;
    text-align: center;
    margin: 10rem 0 1rem 0;
}
