body {
     margin: 0;
 }
.button-container {
     display: flex;
    flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
     padding: 50px 0;
 }
.button {
     position: relative;
	 height: 0;
 }
.button-image {
    flex-basis: 300px;
     max-width: 300px;
 }
 
.scene-container {
	position: relative;
}
.scene-background {
	top: 0;
	left: 0;
}
.scene-image {
	position: absolute;
}
.scene-image-link {
	position: absolute;
	display: block;
}
.button:hover .button-image, .scene-image-link:hover, .standard-toolbar .button:hover {
	filter: invert(0.4);
}
.thompson-world-form {
	position: relative;
	height: 100%;
}
.standard-toolbar {
    display: flex;
    justify-content: center;
    z-index: 99;
    height: 35px;
    padding: 5px;
    background: rgba(0,0,0,0);
}
.standard-toolbar .button {
    display: block;
    width: 100px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}
