:root {
    --link: #069;
    --background: #f2f2f2;
    --note: #aaa;
body {
    font-family: Arial;
}
h1, h2 {
    text-decoration: underline;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    display: block;
    width: fit-content;
    margin: 0.5rem auto 0.5rem 0;
}
