@font-face {
    font-family: Melodica;
    src: url('https://hogwild.uk/fonts/Melodica.otf');
}
body {
    font-family: Melodica;
    margin: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.25rem;
}
a {
    text-decoration: none;
    color: #069;
}
a:hover {
    text-decoration: underline;
}
#toolbar {
    margin: 0 auto;
    gap: 1rem;
    font-size: 2rem;
}
#game, #info-block {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#info-block > *:not(#play-button, #rack) {
    flex-basis: 100%;
}
#rack {
    background: #025418;
    border-bottom: 5px solid #003206;
    box-sizing: border-box;
    min-width: 450px;
    gap: 5px;
    padding: 5px 5px 0 5px;
}
.tile {
    height: 50px;
    aspect-ratio: 1 / 1;
    border: 2px solid #a9a0a4;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ede4d7;
    font-size: 3rem;
    position: relative;
}
.tile-active {
    cursor: pointer;
}
#board .tile-active {
    border-color: red;
}
.tile:not(.tile-active){
    cursor: no-drop;
}
#board {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    background-color: grey;
}
.slot {
    flex-basis: calc(calc(100% / 15) - 2px);
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    background-color: #f9eacd;
}
.slot > .tile {
    width: 90%;
    height: 90%;
    font-size: 2rem;
}
.slot > .tile:after {
    font-size: 1rem;
}
.slot, .tile, #rack, #toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.double-letter {
    background-color: #b4eefc;
}
.triple-letter {
    background-color: #1daee0;
}
.double-word {
    background-color: #fbb8c3;
}
.triple-word {
    background-color: #f95f6c;
}
.in-hand {
    border: 2px solid white;
}
.tile:after {
    font-size: 1.5rem;
    position: absolute;
    bottom: -0.25rem;
    right: 0rem;
}
.A:after, .E:after, .I:after, .L:after, .N:after, .O:after, .R:after, .S:after, .T:after, .U:after {
    content: '1';
}
.D:after, .G:after {
    content: '2';
}
.B:after, .C:after, .G:after, .P:after {
    content: '3';
}
.F:after, .H:after, .V:after, .W:after, .Y:after {
    content: '4';
}
.K:after {
    content: '5';
}
.J:After, .X:After {
    content: '8';
}
.Q:after, .Z: after {
    content: '10';
}
#error-message, #user-turn-text, #this-user {
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;
}
#error-message {
    color: red;
}
#play-button {
    padding: 1rem;
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
}
.play-true {
    border: 2px solid red;
    color: black;
    background: #eee;
    cursor: pointer;
}
.play-false {
    border: 2px solid #eee;
    color: #777;
    background: white;
    cursor: no-drop;
}
form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem auto;
    flex-wrap: wrap;
    width: 150px;
}
form > label, form > input {
    flex-basis: 70%;
    flex-grow: 1;
}
form > input[type=radio]{
    flex-basis: 20%;
    flex-grow: 1;
    margin: 0;
}
form > input[type=button], form > p {
    flex-basis: 100%;
    margin: 0;
}
@media screen and (max-width: 1000px){
    html {
	font-size: 25px;
    }
    body {
	align-content: start;
	margin-top: 2rem;
    }
    #game, #info-block {
	flex-basis: 100%;
    }
}
