@font-face {
    font-family: Melodica;
    src: url('https://hogwild.uk/fonts/Melodica.otf');
}
:root {
    --green: #025418;
    --dark-green:  #003206;
    --beige: #ede4d7;
    --dark-beige: #a9a0a4;

    --double-letter: #b4eefc;
    --triple-letter: #1daee0;
    --double-word: #fbb8c3;
    --triple-word: #f95f6c;

    --padding: 2rem;
}
body {
    font-family: Melodica;
    margin: 0;
    display: flex;
}
#info-block, #game-block {
    flex-basis: 50%;
    height: fit-content;
    padding: 2rem;
}
@media screen and (max-width: 1000px){
    body {
	flex-wrap: wrap;
	align-content: start;
    }
    #info-block, #game-block {
	flex-basis: 50%;
	flex-grow: 1;
    }
}
#info-block {
    background: white;
}
#title-container {
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.75rem;
}
a {
    text-decoration: none;
    color: var(--triple-word);
    font-size: 2rem;
}
a:hover {
    text-decoration: underline;
}
#note {
    border-top: 2px solid var(--triple-letter);
    margin-top: calc(var(--padding) / 2);
    font-size: 2rem;
}
#error-message {
    color: var(--triple-word);
}
#play-points-text {
    color: var(--triple-letter);
}
#title-container, #note {
    padding: calc(var(--padding) / 2);
    text-align: center;
}

#game-block {
    background: white;
}
#rack-container {
    display: flex;
    gap: var(--padding);
}
#rack {
    flex-grow: 1;
    background: var(--green);
    border-bottom: 5px solid var(--dark-green);
    box-sizing: border-box;
    gap: 5px;
    padding: 5px 5px 0 5px;
}
.tile {
    height: 50px;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--dark-beige);
    border-radius: 3px;
    box-sizing: border-box;
    background-color: var(--beige);
    font-size: 3rem;
    position: relative;
    cursor: no-drop;
}
.tile-active {
    cursor: pointer;
}
.slot > .tile-active {
    border-color: black;
}
.slot, .tile, #rack, #note {
    display: flex;
    justify-content: center;
    align-items: center;
}
#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background: var(--beige);
    border-radius: 3px;
}
.play-true {
    border: 2px solid black;
    color: black;
    background: #eee;
    cursor: pointer;
}
.play-false {
    filter: opacity(0.25);
    cursor: no-drop;
}
#board {
    margin-bottom: var(--padding);
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.slot {
    flex-basis: calc(calc(100% / 15) - 2px);
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    background-color: white;
}
.slot > .tile {
    width: 90%;
    height: 90%;
    font-size: 2rem;
}
.slot > .tile:after {
    font-size: 1rem;
    right: 0.05rem;
    bottom: 0.05rem;
}
.double-letter {
    background-color: var(--double-letter);
}
.triple-letter {
    background-color: var(--triple-letter);
}
.double-word {
    background-color: var(--double-word);
}
.triple-word {
    background-color: var(--triple-word);
}
.in-hand {
    border: 2px solid white;
}
.tile:after {
    font-size: 1.5rem;
    position: absolute;
    bottom: -0.25rem;
    right: 0rem;
}
.A:after, .E:after, .I:after, .L:after, .N:after, .O:after, .R:after, .S:after, .T:after, .U:after {
    content: '1';
}
.D:after, .G:after {
    content: '2';
}
.B:after, .C:after, .G:after, .P:after {
    content: '3';
}
.F:after, .H:after, .V:after, .W:after, .Y:after {
    content: '4';
}
.K:after {
    content: '5';
}
.J:After, .X:After {
    content: '8';
}
.Q:after, .Z: after {
    content: '10';
}
