@font-face {
    font-family: Tesco;
    src: url('../fonts/Tesco.ttf');
}
@font-face {
    font-family: Tesco Bold;
    src: url('../fonts/TescoBold.ttf');
}
:root {
    --dark-grey: rgb(51, 51, 51);
    --medium-grey: rgb(102, 102, 102);
    --link-blue: rgb(0, 83, 159);
    --pale-grey: rgb(246, 246, 246);
    --max-width: 800px;
}
body {
    width: min(calc(100% - 2rem), var(--max-width));
    margin: 1rem auto;
    font-family: Tesco;
    font-size: 20px;
    color: var(--dark-grey);
}
h1, h2, h3 {
    font-family: Tesco Bold;
}
h4 {
    margin: 0 auto;
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
}
h2 {
    margin: auto 0;
    text-align: center;
}
h3 {
    margin: 0 auto;
    text-align: center;
}
a {
    color: var(--link-blue);
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#logo {
    max-width: 100%;
}
#selectors {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
#selector-container {
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.selector {
    display: flex;
    justify-content: center;
    align-content: start;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
    background: var(--pale-grey);
}
.selector > * {
    flex-basis: 100%;
}
.selector > img {
    max-width: min(255px, 100%);
    mix-blend-mode: darken;
}
input {
    font-size: 1rem;
    font-family: inherit;
    color: var(--dark-grey);
}
#combo-username {
    color: var(--medium-grey);
}
#name-form-container, #name-set-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
    background: var(--pale-grey);
}
#name-set-container {
    gap: 0;
    display: none;
}
#name-form-container label, #name-set-container h2, #name-set-container h3 {
    flex-basis: 100%;
    text-align: center;
}
#name-form-container:empty {
    display: none;
}
.hidden {
    display: none;
}
#something-wrong {
    font-size: 1rem;
    text-align: center;
    color: var(--medium-grey);
    flex-basis: 100%;
}
.all-combo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background: var(--pale-grey);
    height: 3rem;
    justify-content: end;
}
.all-combo-container > h2 {
    margin-right: auto;
}
.all-combo-container > img {
    mix-blend-mode: darken;
    height: 75%;
}
.all-combo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.all-combo-list > a {
    flex-basis: 100%;
}
@media screen and (min-width: 800px){
    #selector-container {
	flex-wrap: nowrap;
    }
    .selector {
	flex-basis: 30%;
    }
}
