:root {
	--pale-grey: #f4f4f4;
	--medium-grey: #dddddd;
    --dark-grey: #888;
	--border-radius: 0.5rem;
    --page-width: 850px;
 }
@media screen and (max-width: 850px){
    :root {
        --page-width: 90vw;
    }
    html {
        /*font-size: 24px;*/
    }
}
body {
    font-family: Arial;
    background: var(--medium-grey);
}
.hidden {
    display: none !important;
}
.button-as-link {
    background: none;
    border: none;
    padding: 0;
    font-size: unset;
    color: #069;
    cursor: pointer;
    text-decoration: none;
}
.button-as-link:hover {
    text-decoration: underline;
}
.neh-footer {
    width: var(--page-width);
    margin: 2rem auto;
}
.neh-hogwild-footer {
    text-align: center;
    flex-basis: 100%;
    margin: 2rem 0 2rem;
    font-size: 1.25rem;
            }
.neh-function-buttons {
    display: flex;
    gap: 0.5rem;
}
.neh-input, select {
    padding: 0.5rem;
    border: 1px solid black;
    background: white;
    font-size: 1.5rem;
    text-wrap-mode: wrap;
    color: black;
}
.neh-input:hover {
    background: #f4f4f4;
}
.neh-message {
    margin: 0.5rem 0;
}
.neh-leaderboard-points {
    margin-left: 0.5rem;
}
label {
    display: block;
    margin: 0.5rem 0;
}
label:empty {
    display: none;
}
h1, h1 a {
    color: black;
    text-decoration: underline;
    margin: 1rem auto 2rem;
    width: fit-content;
    font-size: 3rem;
    text-align: center;
}
.neh-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: var(--page-width);
    margin: 0 auto 1rem;
    background: var(--pale-grey);
    padding: 1rem;
    color: var(--dark-grey);
    box-sizing: border-box;
    font-size: 1.5rem;
}
form, .option-container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--page-width);
    margin: 0 auto;
}
.neh-event-tab-list {
    background: var(--pale-grey);
    display: flex;
    flex-wrap: wrap;
    max-width: var(--page-width);
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem 0;
    overflow: hidden;
}
.neh-collapsed {
    height: 0;
    padding: 0;
}
.neh-collapsed-heading, .neh-collapsible-heading {
    cursor: pointer;
}
.neh-collapsed-heading {
    background: var(--medium-grey) !important;
    border: 1px solid;
}
.neh-collapsed-heading:hover, .neh-collapsible-heading:hover {
    text-decoration: underline;
}
.neh-collapsed-heading:before, .neh-collapsible-heading:before {
}
.neh-collapsed-heading:after {
    content: " ▸";
}
.neh-collapsible-heading:after {
    content: " ▾";
}
.neh-event-tab-list .neh-block {
    background: white;
    border: 1px solid black;
    width: calc(100% - 2rem);
}
.neh-event-tab-container {
    display: flex;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
.neh-event-tab-container form {
    flex-grow: 1;
}
.neh-event-tab-note {
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--medium-grey);
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-left: none;
    padding: 0 0.5rem;
}
.neh-note-before:before {
    line-height: 1.25rem;
    font-size: 0.75rem;
    flex-basis: 100%;
    padding: 0;
    margin-bottom: -0.5rem;
}
.neh-you-voted:before {
    content: "YOU CALLED";
}
.neh-point-change:before {
    content: "POINTS WON";
}
.neh-waiting-for:before {
    content: "WAITING FOR";
}
.neh-too-slow:before {
    content: "TOO SLOW";
}
.neh-place-bet:before {
    content: "MAKE CALL";
}
.neh-cancelled:before {
    content: "CANCELLED";
}
.neh-set-outcome:before {
    content: "SET OUTCOME";
}
#create-options-list {
width: 100%;
margin-bottom: 1rem;
}
form input, label, select {
    flex-basis: 70%;
    min-width: 70%;
    flex-grow: 1;
    font-size: 1.5rem;
}
.full-width {
    flex-basis: 100% !important;
}
.neh-input[type="submit"], .neh-input[type="button"]{
    flex-basis: 30%;
    flex-grow: 1;
    min-width: unset;
}
.neh-input[type="submit"]:hover, .neh-input[type="button"]:hover{
    text-decoration: underline;
    cursor: pointer;
}
.neh-input:focus-visible, select:focus-visible {
    outline: none;
    border: 1px solid var(--medium-grey);
    background: var(--pale-grey);
}
.neh-input[type="submit"]:focus-visible, .neh-input[type="button"]:focus-visible{
    background: var(--dark-grey);
    border: none;
}
.neh-input[type="checkbox" i] {
    height: 1.5rem;
    flex-basis: 0;
    min-width: 0;
}
.neh-function-buttons {
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.neh-function-buttons form {
    margin: 0;
}
.neh-heading, .neh-block {
    max-width: var(--page-width);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    background: var(--pale-grey);
    transition: background 0.25s;
}
.neh-block {<
    text-align: left;
    border: none;
    background: none;
}
.neh-copy-text-button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--dark-grey);
    color: white;
    cursor: pointer;
    border: 1px solid black;
}
.neh-points-positive {
    color: green;
}
.neh-points-negative {
    color: red;
}
.neh-username-link {
    display: flex;
    align-items: center;
    background: var(--medium-grey);
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 0 0 0 0.5rem;
}
.neh-username-link:hover, .neh-copy-text-button:hover {
    text-decoration: underline;
}
.neh-username-link:not(.neh-admin){
    padding: 0.5rem;
}
.neh-username-link:hover {
    background: var(--medium-grey);
}
.neh-admin:after {
    vertical-align: middle;
    background: var(--dark-grey);
    content: "admin";
    color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none !important;
}
